Package: com.ios.il2cppdumper
Name: IOS Il2CppDumper
Depends: mobilesubstrate
Description: Dump il2cpp data at runtime on iOS
Author: DS Gaming - Mr D
Section: Tweaks
Architecture: iphoneos-arm
Version: 1.0.0
Installed-Size: 284
